extends baseform.pug

block vars
    - const title = 'Reset password'

block fields
    .form-group
        | Письмо с инструкциями по восстановлению пароля отправлено на #{email}
block submit
    if service 
        .form-group
            a.btn.btn-block.btn-primary.btn-lg(href=service.url) Открыть #{service.title}
