<template>
    <div class="rg-row">
        <div class="rg-menu">
            <router-link v-for="item of routes" :to="item.path" :key="item.path" class="rg-menu__item btn">
                <i v-if='item.icon' :class="['icono-'+item.icon, 'rg-menu__item_icon']"></i><span>{{item.name}}</span>
            </router-link>
            <div class="rg-spacer"></div>
            <a v-for="item of menu" :href="item.href" class="rg-menu__item btn" :download="item.download" :target="item.download ? '_blank' : (item.target || false)">
                <i v-if='item.icon' :class="['icono-'+item.icon, 'rg-menu__item_icon']"></i><span>{{item.name}}</span>
            </a>
        </div>
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </div>
</template>